# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# Virtual environment created by project
.virtualOCF/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
compiled/

# Pyre type checker
.pyre/

# Environment variables
.env
.env.*

# SQLite database
*.sqlite
*.db
elexon_generation.db

# Streamlit
.streamlit/

# IDEs and editors
.idea/
.vscode/

# macOS
.DS_Store

# Others
*.log 